/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* to chang background of table to transparent && change size of text */
.combo-box, .button {
    -fx-background-color: linear-gradient(to bottom, #d8d9e0, lightgray);
    -fx-border-radius: 50;
    -fx-border-color: gray;
}

.text-area {
    -fx-background-color: linear-gradient(to bottom, #d8d9e0, lightgray);
    -fx-background-radius: 20;
    -fx-border-color: gray;
    -fx-border-radius: 20;
    -fx-font-size: 16;
    -fx-alignment: center;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.text-area *.text {
    -fx-text-alignment: center;
}

.text-area .scroll-bar {
    -fx-background-color: transparent;

}

.text-area .scroll-bar:vertical .increment-arrow {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical .thumb {
    -fx-background-color: #000000;
    -fx-background-radius: 40;
}

.combo-box .scroll-bar {
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .list-cell:even {
    -fx-background-color: #d8d9e0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 3;
}

.combo-box-popup .list-view .list-cell:odd {
    -fx-background-color: #f6f6f6;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 3;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: rgba(161, 161, 161, 0.23);
    -fx-text-background-color: #CE2029;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgba(161, 161, 161, 0.56);
    -fx-text-background-color: #CE2029;
}


.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: linear-gradient(to bottom, #d8d9e0, gray);
}

.radio-button .radio {
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-padding: 3px;
}

.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

.radio-button {
    -fx-font-weight: bold;
}